h2, h3, h4, p, select,button{
    text-align: center;
    font-family: 'Assistant', sans-serif;
}
h2{
    font-weight: 800;
    width: 100%;
    background-color: white;
    padding: 5px;
    margin-bottom: 0;
    display: block;
    position: sticky;
    top: 0;
}
h3{
    margin: 0;
    font-weight: 400;
}
h4{
    margin-top: 0;
    font-weight: 300;
}
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type='number']{
    font-family: 'Anonymous Pro', monospace;
    font-size: 18px;
    color: #404040;
    font-weight: 700;
    border: 1.5px solid #d0d0d0;
    border-radius: 3px;
    outline: none;
    text-align: center;
    padding: none;
    -moz-appearance: textfield;
}
input[type='number']:focus{
    border: 1.5px solid black;
    color: black;
}
button{
    font-family: 'Anonymous Pro', monospace;
    font-size: 18px;
    color: #404040;
    font-weight: 700;
    border: 1.5px solid #d0d0d0;
    border-radius: 3px;
    outline: none;
    background-color: transparent;
    text-align: center;
    margin-left: 2.5px;
    padding: 5px 7px 5px 7px;
}
button:hover{
    color: black;
    border-color:black;
}
select{
    padding: 1px;
    margin-left: 4px;
    border: 1.5px solid #A71930;
    outline: none;
    font-weight: 600;
    color: #A71930
}
option{
    color: black;
}
p,select,button{
    font-size: 16px;
    border-radius: 3px;
}
body{
    min-width: 800px;
    max-width: 1300px;
    width: 70%;
    margin: auto;
}
table, tr{
    width: 100%;
}
td{
    width: 50%;
}
header{
    min-width: 500px;
    max-width: 1000px;
    width: 65%;
    margin: auto;
}
footer{
    text-align: center;
    width: 80%;
    margin: auto;
    margin-top: 30px;
    font-size: 12px;
    color: #404040;
    padding: 4px;
    border-top: 1.5px solid #d0d0d0;
    font-family: 'Assistant', sans-serif;
}
nav{
    background-color: #ffc000;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    padding: 6px;
    position: sticky;
    top: 0;
    text-align: center;
    font-weight: 500;
    width: 100%;
}